<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>

<body>
    <footer class="w-full md:w-full text-center md:text-start">
        <div class="w-[412px] md:w-[1240px] md:pb-[40px] mx-auto md:flex ">
            <div class="w-[380px] md:w-[310px] mx-auto md:mx-0 h-[66px] md:h-normal">
                <span class="text-[14px] font-semibold">Biz haqimizda
                    <span class="md:hidden ml-[8px]"><i
                            class="fa-solid fa-chevron-down w-[24px] h-[24px] "></i></span></span>
                <hr class="bg-[#D7D7D9] w-full h-[0.5px] my-[16px] md:hidden block">

                <ul class="text-[12px] text-[#8B97B0] hidden md:block">
                    <li class="my-[19px] w-full"><a href="#">Topshirish punktlari</a></li>
                    <li><a href="#">Vakansiyalar</a></li>
                </ul>
            </div>

            <div class="w-[380px] md:w-[310px] mx-auto md:mx-0 h-[66px] md:h-normal">
                <span class="text-[14px] font-semibold">Foydalanuvchilarga
                    <span class="md:hidden ml-[8px]"><i
                            class="fa-solid fa-chevron-down w-[24px] h-[24px] "></i></span></span>
                <hr class="bg-[#D7D7D9] w-full h-[0.5px] my-[16px] md:hidden block">

                <ul class="text-[12px] text-[#8B97B0] hidden md:block">
                    <li class="my-[19px]">
                        <a href="#">
                            Biz bilan bogʻlanish
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Savol-Javob
                        </a>
                    </li>
                </ul>
            </div>

            <div class="w-[380px] md:w-[310px] mx-auto md:mx-0 h-[66px] md:h-normal">
                <span class="text-[14px] font-semibold">Tadbirkorlarga
                    <span class="md:hidden ml-[8px]"><i
                            class="fa-solid fa-chevron-down w-[24px] h-[24px] "></i></span></span>


                <ul class="text-[12px] text-[#8B97B0] hidden md:block">
                    <li class="my-[19px]"><a href="#">
                            Uzumda soting
                        </a></li>
                    <li class="mb-[19px]">
                        <a href="#">
                            Sotuvchi kabinetiga kirish
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Topshirish punktini ochish
                        </a>
                    </li>
                </ul>
            </div>

            <div class="text-[14px] font-semibold">
                <span>Ilovani yuklab olish</span>

                <div class="md:flex md:items-center md:my-[16px] mx-auto my-[16px] md:my-0 md:mx-0">
                    <a href="https://apps.apple.com/ru/app/uzum-market-%D0%BE%D0%BD%D0%BB%D0%B0%D0%B9%D0%BD-%D0%BC%D0%B0%D1%80%D0%BA%D0%B5%D1%82%D0%BF%D0%BB%D0%B5%D0%B9%D1%81/id1640483056"
                        class="md:flex md:items-center flex items-center hidden"><img width="20" height="20"
                            class="mr-[5px]" src="https://img.icons8.com/ios-filled/50/mac-os.png" alt="mac-os" />
                        AppStore</a>

                    <a href="https://play.google.com/store/apps/details?id=uz.uzum.app"
                        class="md:flex flex md:items-center items-center hidden md:block md:ml-[10px]"><img width="20"
                            height="20" class="mr-[5px]" src="https://img.icons8.com/fluency/48/google-play.png"
                            alt="google-play" /> Google Play</a>


                    <div class="w-[310px] md:hidden mx-auto grid gap-2">
                        <a href="https://apps.apple.com/ru/app/uzum-market-%D0%BE%D0%BD%D0%BB%D0%B0%D0%B9%D0%BD-%D0%BC%D0%B0%D1%80%D0%BA%D0%B5%D1%82%D0%BF%D0%BB%D0%B5%D0%B9%D1%81/id1640483056"
                        class="md:hidden my-[10px] md:my-0 mx-auto"><img width="112" height="36"
                            src="https://setka.tech/wp-content/uploads/2022/05/app_store_2x-1536x463.png"
                            alt="mac-os"></a>

                    <a href="https://play.google.com/store/apps/details?id=uz.uzum.app" class="md:hidden mx-auto"><img
                            width="117" height="37"
                            src="https://setka.tech/wp-content/uploads/2023/01/gp-1-e1675191776782.png"
                            alt="google-play"></a>
                    </div>


                </div>

                <div class="mt-[32px]">
                    <span class="text-[13px] font-semibold">
                        Uzum ijtimoiy tarmoqlarda
                    </span>

                    <div
                        class="md:flex flex items-center md:items-center w-[310px] mx-auto justify-center md:justify-start">
                        <a href="https://www.instagram.com/uzum.market" target="_blank"><img
                                class="mr-[10px] w-[44px] h-[44px] md:w-[40px] md:h-[40px]"
                                src="https://img.icons8.com/3d-fluency/94/instagram-logo.png"
                                alt="instagram-logo" /></a>


                        <a href="https://t.me/uzum_market" target="_blank"><img
                                class="mr-[10px] w-[36px] h-[36px] md:w-[32px] md:h-[32px]"
                                src="https://img.icons8.com/external-tal-revivo-color-tal-revivo/24/external-telegram-messenger-privately-held-company-with-cloud-based-instant-messaging-logo-color-tal-revivo.png"
                                alt="external-telegram-messenger-privately-held-company-with-cloud-based-instant-messaging-logo-color-tal-revivo" /></a>

                        <a href="https://www.facebook.com/uzummarket" target="_blank"><img
                                class="mr-[10px] w-[40px] h-[40px] md:w-[36px] md:h-[36px]"
                                src="https://img.icons8.com/fluency/48/facebook-new.png" alt="facebook-new" /></a>

                        <a href="https://www.youtube.com/channel/UCY3nNF2MUDKHrELA6LzbnHA" target="_blank"><img
                                src="https://img.icons8.com/color/48/youtube-play.png"
                                class=" w-[40px] h-[40px] md:w-[36px] md:h-[36px]" alt="youtube-play" /></a>
                    </div>
                </div>

            </div>



        </div>
        <hr class="bg-[#D7D7D9] w-[412px] md:w-[1240px] h-[1px] mx-auto hidden md:block">

        <div class="w-[412px] md:w-[1240px] mx-auto md:flex md:items-center font-semibold md:py-[16px] hidden md:block">
            <a href="#" class="text-[14px] mr-[16px] text-[#1F2026]">Maxfiylik kelishuvi</a>

            <a href="#" class="text-[14px] mr-[16px] text-[#1F2026]">Foydalanuvchi kelishuvi</a>

            <a href="#" class="text-[14px] mr-[10px] text-[#1F2026]"> SHAXSIY MA'LUMOTLARNI QAYTA ISHLASH NIZOMI «UZUM
                MARKET» MCHJ XK </a>

            <p class="text-[#7E818C] text-[11px] h-[28px] ml-[30px] md:pl-[16px] w-[288px] md:width-[420px]">«2026© XK MCHJ «UZUM MARKET». STIR
                309376127. Barcha huquqlar himoyalangan»</p>
        </div>

        <div class="w-[412px] mx-auto font-semibold md:hidden block mt-[40px]">
            <a href="#" class="text-[14px] mr-[16px] text-[#1F2026]">Maxfiylik kelishuvi</a>

            <a href="#" class="text-[14px] mr-[16px] text-[#1F2026]">Foydalanuvchi kelishuvi</a>

            <a href="#" class="text-[14px] mr-[10px] text-[#1F2026]"> SHAXSIY MA'LUMOTLARNI QAYTA ISHLASH NIZOMI «UZUM
                MARKET» MCHJ XK </a>


            <p class="text-[#7E818C] text-[11px] h-[28px] ml-[60px] md:pl-[16px] w-[288px] md:width-[420px]">«2026© XK MCHJ «UZUM MARKET». STIR
                309376127. Barcha huquqlar himoyalangan»</p>
        </div>
    </footer>
</body>

</html>
