<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
  integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css">
<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

  .qora {
    font-family: "Roboto", sans-serif;
  }

  .oq {
    box-shadow: 0 4px 24px #5a5b5d0a;
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
  }
</style>

<body class="bg-[#F0F2F5]">
    
  <div class="w-[450px] h-[590px] rounded-[15px] bg-[white] mx-auto mt-[200px] p-[15px]">
    <div class="w-[390px] mx-auto">
      <h1 class="text-[22px] font-bold">Akkount yaratish</h1>
      <p class="text-[14px] my-[10px] text-[#656773]">Bildirishnoma va tasdiqlash kodlari telefon va elektron
        pochtangizga
        yuboriladi</p>
      <input class="w-[385px] h-[50px] bg-[#E2E2E8] pl-[10px] rounded-[10px]" type="text" placeholder="Ism">
      <select class="w-[385px] h-[50px] bg-[#E2E2E8] pl-[10px] my-[10px] rounded-[10px]" name="biznes" id="biznes"
        required>
        <option value="" disabled selected>Biznesinggiz turi</option>
        <option value="volvo">Allaqoch rasmiylashtirilgan yuridik shaxs yoki YTT bor</option>
        <option value="saab">Rasmiylashtirishni rejalashtiryabman</option>
        <option value="mercedes">Yuridik shaxs yo'q</option>
      </select>
      <input class="w-[385px] h-[50px] bg-[#E2E2E8] pl-[10px] rounded-[10px]" type="number" placeholder="Telefon">
      <input class="w-[385px] h-[50px] bg-[#E2E2E8] pl-[10px] rounded-[10px] my-[10px]" type="email" placeholder="Elektro pochta">
      <input class="w-[385px] h-[50px] bg-[#E2E2E8] pl-[10px] rounded-[10px]" type="password" placeholder="Parol">
      <button class="w-[385px] bg-[#7000FF] h-[60px] font-bold text-[#fff] rounded-[15px] mt-[30px]">Davom etish</button>
      <div class="w-[385px] mx-auto text-center mt-[10px]">
        <span class="text-center mx-auto text-[12px] text-[#8b8e99] ">Tugmani bosish orqali siz</span> <br>
        <span class="text-center mx-auto text-[12px] text-[#8b8e99]"> <span class="text-[#7000ff]">Oferta shartnomasi</span> va <span class="text-[#7000ff]">Maxfiylik siyosati</span>  ga rozilik bildirasiz</span>
      </div>
      
    </div>


  </div>
</body>

</html>
